.edit{
 	color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    padding-right: 10px;
}
.module_detail{
	padding: 10px 0;
}
.edit_subject{
	color: #000000;
    cursor: pointer;
    float: right;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    right: 30px;
    top: 25px;
}
.edit_pick{
	 color: #000000;
    cursor: pointer;
    float: right;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    right: 20px;
    top: 15px;
}

.remove{
	color: red;
    float: right;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 5px;
    text-decoration: none;
    cursor:pointer;
}
.excerpt{
 	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 19px;
    margin: 0 0 20px;
}
.hide{
	display:none;
}
.show{
	display:block;
}
.dd_heading{
	 color: #24478A;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    width: 460px;
}
.buttons{
	 margin-bottom: 10px;
    margin-top: 15px;	
}
.b_style{
	font-size: 8pt;
	background: white;
	padding-left: 3px;
	padding-right: 3px;
	border-image: initial;
}
.temp_footer{
 	color: #545454;
    font-size: 11px;
    padding-left: 20px;
    padding-top: 20px;
}

