
@font-face {
    font-family: 'FrancoisOneRegular';
    src: url('http://cdn.minyanville.com/font/francoisone-webfont.eot');
    src: url('http://cdn.minyanville.com/font/francoisone-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.minyanville.com/font/francoisone-webfont.woff') format('woff'),
         url('http://cdn.minyanville.com/font/francoisone-webfont.ttf') format('truetype'),
         url('http://cdn.minyanville.com/font/francoisone-webfont.svg#FrancoisOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;


}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('http://cdn.minyanville.com/font/os/opensans-extrabold-webfont.eot');
    src: url('http://cdn.minyanville.com/font/os/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.minyanville.com/font/os/opensans-extrabold-webfont.woff') format('woff'),
         url('http://cdn.minyanville.com/font/os/opensans-extrabold-webfont.ttf') format('truetype'),
         url('http://cdn.minyanville.com/font/os/opensans-extrabold-webfont.svgz#OpenSansExtrabold') format('svg'),
         url('http://cdn.minyanville.com/font/os/opensans-extrabold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('http://cdn.minyanville.com/font/os/opensans-bold-webfont.eot');
    src: url('http://cdn.minyanville.com/font/os/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.minyanville.com/font/os/opensans-bold-webfont.woff') format('woff'),
         url('http://cdn.minyanville.com/font/os/opensans-bold-webfont.ttf') format('truetype'),
         url('http://cdn.minyanville.com/font/os/opensans-bold-webfont.svgz#OpenSansBold') format('svg'),
         url('http://cdn.minyanville.com/font/os/opensans-bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Book Antiqua";
    src: url('http://cdn.minyanville.com/font/BKANT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "LatoRegular";
    src: url('http://cdn.minyanville.com/font/Lato_font_family/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}