@charset "utf-8";
/* CSS Document */

body{
margin: 0;
padding: 0;
border:none;
}

img{
border:none;
}

.forgot_wrapper{
width: 400px;
height: 270px;
float:left;
border-radius:12px;
margin: 0 auto;
background-color:#fafafa;
border:1px solid #e7e7e7;
}

.forgot_password_hdr{
float:left;
margin:22px 0px 0px 22px;
}

.forgot_hdr_hr{
float:left;
width:400px;
height:2px;
background-color:#e7e7e7;
border:none;
border-bottom:1px solid #FFFFFF;
margin:0px;
padding:0px;
margin-top:4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
.forgot_hdr_hr{
float:left;
width:400px;
height:1px;
background-color:#e7e7e7;
border:none;
border-bottom:1px solid #FFFFFF;
margin:0px;
padding:0px;
margin-top:4px;
}
}

.forgot_main_area{
float:left;
width:280px;
height:180px;
margin-left:60px;
margin-top:22px;
}

.forgot_main_area_txt{
float:left;
font-size:14px;
font-family:Arial, Helvetica, sans-serif;
color:#4c4c4c;
text-align: left;
}

.forgot_input_box{
float:left;
width:278px;
height:32px;
border:none;
padding:0 5px;
border:1px solid #e5e5e5;
}

.forgot_submit_btn{
float:left;
margin-top:10px;
margin-left:58px;
}

#fancybox-close {
    top: -10px;
}


