@charset "utf-8";

/*****************/
/*****LAYOUT******/
/*****************/

* {
	margin:0px;
	padding:0px;
}

.body1 {
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/bkg.gif);
	background-repeat: repeat-x; 
}

.f-wrapper {
	width:1002px;
	height:1722px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	overflow:hidden;
	
}

/***********************************************************************************/
/***The header is split into left/right so the flash banner can be dropped in easily*
***********************************************************************************/
.f-header {
	width:1067px;
	height:127px;
	background-color:#33CCFF;
}
.f-headerleft {
		width:271px;
		height:127px;
		float:left;
}
.f-headerright {
		width:732px;
		height:127px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/top-header-right.gif);		
		float:left;
}
.f-leftcolumn {
	width:688px;
	background-color:#CCFFFF;
	float:left;
}
.f-leftcolumnnav {
		width:688px;
		height:36px;
		background-color:#003399;
		
}
/********
All this CSS (ul/lu/.navbutton*) is all the CSS image rollover code.
*********/
.f-leftcolumnnav ul a{
				width: 688px;
				height: 36px;
				list-style-type:none;
				display : block;
				text-decoration : none;
				float: left;	
				/*text-indent: -1000px;*/

}
.f-leftcolumnnav li {
				display: inline;
								
}
.f-navbutton1 {
				width:184px;
				height:36px;
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/login_navbutton1.gif) no-repeat;
				background-position: 0 -36px;
				overflow:hidden;	
				float:left;	
}
.f-navbutton1active {
				width:184px;
				height:36px;
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/login_navbutton1.gif) no-repeat;
				background-position: 0px 0px;
				overflow:hidden;	
				float:left;	
}			
.f-navbutton1 a:hover {
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/login_navbutton1.gif) no-repeat 0px 0px;	
			}			
			.f-navbutton2 {
				width:149px;
				height:36px;
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton2.gif) no-repeat top;
				background-position: 0 -36px;
				overflow:hidden;
				float:left;		
			}
			.f-navbutton2active {
				width:149px;
				height:36px;
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton2.gif) no-repeat top;
				background-position: 0px 0px;
				overflow:hidden;
				float:left;		
			}			
			.f-navbutton2 a:hover {
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton2.gif) no-repeat 0px 0px;	
			}			
			.f-navbutton3 {
				width:194px;
				height:36px;
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton3.gif) no-repeat top;
				background-position: 0 -36px;
				overflow:hidden;
				float:left;	
			}
			.f-navbutton3active {
				width:194px;
				height:36px;
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton3.gif) no-repeat top;
				background-position: 0px 0px;
				overflow:hidden;
				float:left;	
			}			
			.f-navbutton3 a:hover {
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton3.gif) no-repeat 0px 0px;	
			}			
			.f-navbutton4 {
				width:161px;
				height:36px;
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton4.gif) no-repeat top;
				background-position: 0 -36px;
				overflow:hidden;
				float:left;	
			}
			.f-navbutton4active {
				width:161px;
				height:36px;
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton4.gif) no-repeat top;
				background-position: 0px 0px;
				overflow:hidden;
				float:left;	
			}			
			.f-navbutton4 a:hover {
				background: url(http://storage.googleapis.com/mvassets/images/newregistration_images/navbutton4.gif) no-repeat 0px 0px;	
			}			
	
	.f-leftcolumncontent {
		width:688px;
		height:1610px;
		background-image: url(http://storage.googleapis.com/mvassets/images/newregistration_images/left-col-bkg.gif);
		border:none;
	}
	

	
/********
This right column was split up into many sections 
to preserve the gradient in the background and to
make smaller sections for the text to live in.
*********/
.f-rightcolumn {
	width:312px;
	height:1616px;
	background-color:white;
	float:left;
	
}
	.f-rightcolumn *{
		padding-left:8px;
	}
	.f-rightcolumn1 {
		height:111px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/right-col-1.gif);	
	}
	.f-rightcolumn2 {
		height:300px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/right-col-2.gif);
		background-repeat:repeat;
		color:black;
	}
	.f-rightcolumn3 {
		height:47px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/right-col-3.gif);
	}
	
	.f-emailerror {
		height:40px;
		color:#FF0000;
		font-size:12px;
		font-weight:bold;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/blue.gif);
	}
	
	.f-rightcolumnpassword {
		height:62px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/blue.gif);
	}
	
	.f-rightcolumn4 {
		height:149px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/right-col-4.gif);	
	}
	.f-rightcolumn5 {
		height:215px; /*Orig. 195*/
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/right-col-5.gif);	
	}
	.f-rightcolumn6 {
		height:490px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/right-col-6.gif);	
		overflow:hidden;
	}
	.f-rightcolumn7 {
		height:80px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/right-col-7.gif);
		text-align:center;
		padding-right:22px;
		margin:0px;
		overflow:hidden;
	}
	.f-rightcolumn8 {
		height:193px; /*  377, 431px*/
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/right-col-8.gif);
		overflow:hidden;	
	}

/***************************/
/**GENERAL TEXT FORMATTING**/
/***************************/

.f-rightcolumn p {
	text-indent:2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	line-height:20px;
}
.f-rightcolbold {
	font-size:12px;
	font-weight:bold;
}

.f-plainlink {
	text-decoration:none;
	color:#FFFFFF;
}
.f-ullink {
	color:#FFFFFF;
	margin-left:0px;
	padding-left:0px;
}

/*********************/
/**PAGE SPECIFIC CSS**/
/*********************/
/**WHAT IS IT?**/
.f-witopheader1 {
	width:688px;
	height:107px;
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/p1-top1.gif);
}
.f-witopheader2 {
	width:400px;
	height:161px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		font-size:13px;
		padding-left:40px;
		padding-top:13px;
		padding-right:20px;
		line-height:18px;
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/p1-top2.gif);
	background-repeat:no-repeat;
	padding-bottom:13px;
}
.whatitdo{
margin-left:455px; 
position:absolute; 
width:227px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:18px;
}
.whatitdo img{
margin-right:10px;
}

.whatitdoFlash{
margin-left:20px;
width:429px;
height:580px;
background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/flashInfo.gif);
background-repeat:no-repeat;
background-position:right;

}
.readitfor{
margin-left:20px; 
position:absolute; 
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
width:420px;
line-height:18px;
}
.readitfor ul{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
padding-left:30px;
line-height:18px;
}
/***Who are we CSS***/
.f-wawtopheader {
	width:688px;
	height:150px;
	background-color:#555555;
}
.f-wwtopheader1 {
	width:688px;
	height:88px;
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/p2-top1.gif);
}

.f-wwtopheader2 {
	width:688px;
	height:125px;
	font-size:13px;
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/p2-top2.gif);
	background-repeat:no-repeat;
	padding-bottom:13px;
}
.f-wwtopheader2 p {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		font-size:11px;
		line-height:15px;
		padding-left:30px;
		padding-right:35px;
		padding-bottom:10px;
		padding-top:15px;
		text-indent:430px;
	
	}
.f-wwleftcolumn {
	width:377px;
	height:810px;
	float:left;
	margin-left:12px;
	padding-top:15px;
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/p2-list-background.gif);
	background-repeat:no-repeat;
	

}
	.f-wwleftcolumn p {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#FFFFFF;
		padding-left:25px;
		padding-right:35px;
	
	}
	
	.selectedBio {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#FFFFFF;
		padding-left:25px;
		padding-right:35px;
		background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/pointer.gif);
		background-position:right;
		background-repeat:no-repeat;
		font-style:normal;
		

	
	}
	
	.f-wwleftcolumn a {
		text-decoration:none;
		color:#FFFFFF;
	}	
.f-wawrightcolumn {
	width:280px;
	height:900px;
	float:left;
	margin-left:5px;
	margin-top:2px;
	padding-top:10px;
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/p2-content-background.gif);
	background-repeat:no-repeat;
	padding-bottom:50px;
	
	
}
	.f-wawrightcolumn p {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#FFFFFF;
		padding-left:20px;
		padding-right:15px;
		margin-bottom:50px;
	}
	.f-wawrightcolumn a,a:visited,a:active {
		color:#FFFFFF;
		
	}
	
	.f-wawrightcolumn img {
		padding-top:10px;
		padding-right:7px;
		padding-bottom:1px;
	}


/***Why Join CSS***/
.f-wjtopheader1 {
	width:688px;
	height:88px;
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/p4-top1.gif);
}

.f-wjtopheader2 {
	width:688px;
	height:125px;
	font-size:13px;
	background-image:url(http://storage.googleapis.com/mvassets/images/newregistration_images/p4-top2.gif);
}

	.f-wjtopheader2 p {
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#FFFFFF;
		font-size:16px;
		line-height:23px;
		padding-left:30px;
		padding-right:45px;
		padding-bottom:10px;
	
	}
	.bigindent {
		text-indent:400px;

	}
.f-wjleftcolumn {
	width:290px;
	height:590px;
	float:left;
	text-align:right;
}
.f-wjrightcolumn {
	width:398px;
	height:590px;
	float:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}
	.f-wjrightcolumn ul {
		padding-left:30px;
		padding-right:30px;
		font-size:12px;
		line-height:20px;
	}
	.f-wjrightcolumn h3 {
		padding-left:15px;
		padding-top:10px;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:15px;
	}
	
/***Whats Da buzz?***/
.wtbaccordianContent{
margin-left:10px; 
margin-right:10px;
height:1200px;
}

.adLeaderboard {
background-image : url(http://storage.googleapis.com/mvassets/images/header_town_bg.jpg);
background-repeat : no-repeat;
margin : 0;
padding : 0;
vertical-align:middle;

}
.adLeaderboarder {
border-right-width: 1px;
border-right-style: solid;
border-right-color: #ffffff;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #ffffff;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #ffffff;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff;
}
.footer {
	color: #323232;
	text-decoration:none;
}
.welcome
{
text-align:center;
font-size:40px;
font-family:"Times New Roman", Times, serif;
font-weight:bold;
color:#FF0000;
float:left;
text-align:left;

padding-left:0px;
padding-right:0px;
padding-top:15px;
padding-bottom:25px;
text-decoration:none;
}
.trial
{
font-size:20;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
padding-left:35px;
}
.textbnb
{
font-size:13;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:normal;
padding-left:0px;
}

.textlink
{
font-size:14;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bold;
padding-left:0px;
color:#FF0000;
}

.footertext
{
color:#333333;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}