/* CSS Document */


body {
	font-family:Arial, Helvetica, sans-serif;
	margin: 0 0 0 0;
	}

.clear {clear:both;}
.progress {
	margin:40px auto;
	width:100%;
	text-align:center;
	}

#logoBar, #flashBar, #dropdownBar {position:relative;width:100%;}

#logoBar {
	height:52px;
	background:transparent url(http://image.minyanville.com/images/header_bg.gif) top left repeat-x;
	text-align:center;
	}

#logoBar a img {
	margin-top:7px;
	width:120px;
	height:41px;
	border:none;
	}

#flashBar {
	background:transparent url(http://image.minyanville.com/images/flashbar_bg.gif) top left repeat-x;
	}

#flashLasso {width:300px; margin:0px auto;}

/* Popup/Dropdown Menus (Jump to Post and Bookmarks) */

#dropdownBar {
	height:20px;
	padding-top:2px;
	background-color:#04517a;
	text-align:center;
	}

#dropdownCenterer {
	position:relative;
	width:332px;
	height:18px;
	margin:0px auto;
	}

#jumpToPost, #bookmark {
	height:18px;
	float:left;
	cursor:pointer;
	}


#jumpToPost {
	width:165px;
	margin-right:8px;
	background:transparent url(http://image.minyanville.com/images/jump_to_post.gif) top left no-repeat;
}

#bookmark {
	width:159px;
	background:transparent url(http://image.minyanville.com/images/bookmarks_dropdown.gif) top left no-repeat;
	}

.popupMenu {
	position:absolute;
	width:331px;
	color:#04517a;
	background-color:white;
	border:1px solid #419ad0;
	overflow:hidden;
	font-size:12px;
	}

.popupMenu table {overflow:auto;}
.popupMenu .offset {background-color:#cce4f2;}
.popupMenu tr {cursor:pointer;}
.popupMenu td {height:14px;overflow:hidden;white-space:nowrap;}
.popupMenu a, .popupMenu a:visited {
	color:#04517a;
}
.popTime, .popAuthor, .popTitle {
	float:left; 
	cursor:pointer;
	white-space:nowrap; 
	height:14px;
	overflow:hidden;
	}

/* Tab Bar Module */
#tabBar {
	height:24px;
	background:#fff url(http://image.minyanville.com/images/tab_bg.gif) top left repeat-x;
}

#tabBar a img {border:none;}

#tabBuzz {width:114px;height:24px;background-image:url(http://image.minyanville.com/images/tab_buzz.gif);}
#tabSearch {width:123px;height:24px;background-image:url(http://image.minyanville.com/images/tab_search.gif);}
#tabBuzz, #tabSearch {position:relative;border:none;float:left;cursor:pointer;}
.buzzOn {background-position:0px 0px;}
.buzzBlue{background-position:0px 24px;}
.buzzOver{background-position:0px 48px;}
.buzzOff{background-position:0px 72px;}
.searchOn {background-position:0px 0px;}
.searchOff{background-position:0px 72px;}
.searchOver{background-position:0px 48px;}
.searchBlue {background-position:0px 24px;}


#outerOuterBorder {
	border-left: 1px solid #999;
	border-right:1px solid #999;
	}

#innerOuterBorder {
	position:relative;
	border-left: 1px solid #333;
	border-right:1px solid #333;
	height:519px;
	}

.mainLayer {
	position: static;
	height:412px;
	clear:both;
}

#articles {
	position: relative;
	width:100%;
	height:345px;  
	margin:0px auto; 
	padding-bottom:10px;
	border-bottom:1px solid #04517a;
	clear:both;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
	word-wrap:break-word;
	}

.article	{
	position:relative;
	padding:15px;
	clear:both;
	}

.articleBody	{
	position:relative;
	margin-left:2px;
	margin-right:15px;
	float:left;
	/*margin-right:13px;*/
	}

.articleInfo {
	position:relative;
	float:left;
	margin-left:5px;
	margin-right:5px;
	padding:0px;
	width: 93px;
	}

.articleInfo img.character {
	width:93px;
	height:103px;
	margin:0 0 0 -5px;
	padding: 0 0 0 0;
	filter: progid:DXImageTransform.Microsoft.Blur( PixelRadius=0,MakeShadow=false);
	}

.articleInfo p.author {
	margin:0; 
	padding-top:2px; 
	font-weight:bolder; 
	}
	
.articleInfo p.time {
	margin: 0;
	padding-top:3px; 
	}

.articleInfo p.positions {
	margin:0;
	color: #ff6001; 
	font-size:smaller;
	font-weight:bolder; 
	width: 80px; 
	padding-top:10px;
	}

.article h2 {
	font-weight:bold;
	font-style:italic;
	margin:0 0 10px 0;
	}

.article a img, .article a:visited img {
	border:none;
	}

/*	
.articleBody ul {
	margin: 0 5 0 0;
	padding: 0 0 0 0;
}


.articleBody li {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
*/

/*	background:transparent url(http://image.minyanville.com/images/bullet_blue.gif) 2px 4px no-repeat;
	padding-left:15px;
	}*/
	


.article a, .article a:visited {
	color:#284E95;
	}

.article a.icon img {
	border:none; 
	float: left;
	margin-top: 15px;
	margin-bottom: 5px;
	}

a.addBookmark img {
	border:none; 
	float:left;
	left:95px;
	margin-top: 16px;
	margin-bottom: 5px;
	margin-left: -10px;
	}

.article p {
	margin-bottom:4px;
	margin-top: 0px;}


.articleDivider {
	margin-top:7px;
	margin-left:9px;
	margin-right:9px;
	border-bottom:1px solid black;
	clear:both;
	}

.overLeft {margin-left: -10px;}

.inlinePostAlert {
	margin:16px 30px 26px 16px;
}

.inlinePostAlert a, .inlinePostAlert a:visited {
	color:#0A51A1; 
	text-decoration:none;
	}


/* NAVIGATION MODULE */

#navigation {
	position: relative;
	margin: 0 auto;
	color:#0F5EAD;
	height:50px;
	width:300px;
	clear:both;
	font-size:12px;
	}

#navigation a, #navigation a:visited {
	color:#0f5ead;
	}
	
#navigation a.noUnderline, #navigation a.noUnderline:visited {
	text-decoration: none;
	}

#navigation a.currentPage, #navigation a.currentPage:visited {
	color:red;
	text-decoration:none;
	}
	
#navigation p {margin-top:9px; margin-bottom:0;}

#latestPost {
	position: relative;
	float:left;
	left:0px;
	padding-top:13px;
}

#printAll {
	position:relative;
	float:right;
	right:0px;
	padding-top:10px;
	}
*html #printAll {	
	right:11px;
}

#printAll img {border:none;}
#navPages {text-align:center;}
#navPages .grayout {color:#999999;}



/* Search Form Layer */
input#searchButton {
	width:200px;
	border:1px solid black;
	background:white;
}

#search {
	padding-left:15px; 
	padding-top:15px; 
	height:397px;
	overflow:hidden;
}

#searchResults {
	padding-right:15px; 
	width:95%;
	height:263px; 
	word-wrap:break-word;
	overflow:auto;
	}
	
#searchResults #heading {
	color: #ff6001; 
	font-size:13px;
	font-weight:bold;
	border-bottom:1px solid #04517a;
	text-align:center;
	padding-top:15px;
}

#searchResults a, #searchResults a:visited, span.searchDate {
	color: #772700; text-decoration:underline;
}

.bookAnchor {cursor:pointer;}

/* Preferences Layer */
#editPrefs {
	position:relative;
	float:left;
	width:86px;
	height:20px;
	cursor:pointer;
	}

.prefButtonOn {background:transparent url(http://image.minyanville.com/images/preferences.gif) top left no-repeat;}
.prefButtonOver {background:transparent url(http://image.minyanville.com/images/preferences_over.gif) top left no-repeat;}

#prefs {
	font-size:13px;
	background-image:url(http://image.minyanville.com/images/prefs_bg.gif);
	background-position:top left;
	background-repeat:repeat-x;
	height:412px;
	position:relative;
	}

#prefsTabBar {
	font-size:11px; 
	list-style-type:none;
	/*margin-bottom:10px;*/
	clear:both;
	height:auto;
	}
	
#prefsTabBar .button {float:left; }
#prefsTabBar a, #prefsTabBar a:visited {text-decoration:none; color:#04517a; font-weight:bold;line-height:28px;}
a.prefSelected {padding:7px 9px 7px 10px; background-color:#fff; border-right:1px solid #04517a; }
a.prefDeselected {padding:10px 10px 10px 10px; }
a.filterSelected {padding:7px 8px 7px 10px; background-color:#fff; border-left:1px solid #04517a; border-right:1px solid #04517a;}
a.filterDeselected {padding:10px 8px 6px 6px; border-right:1px solid #04517a;}

.subLayer {
	position:relative;
	border-bottom:1px solid #04517a;
	overflow-y:auto;
	overflow-x:hidden;
	float:left;
	margin: 10px auto 15px auto;
	padding-left:3px;
	height:312px;
	width:100%;
	}
	
#prefsSubEdit {
	}
	
#prefsSubFilter {
	overflow:auto;
	}

#submitPrefs, #cancelPrefs { position:relative;float:right; }
#bookmarkApp { position:relative;float:left; display:none;}

#submitPrefs, #cancelPrefs, #bookmarkApp {
	border:none;
	background-color:#04517a;
	color:white;
	font-size:12px;
	padding-top:4px;
	padding-bottom:2px;
	margin-left:3px;
	margin-right:10px;
	margin-bottom:0;
	cursor:pointer;
	}

#prefs h5 {
	margin-top: 3px;
	margin-bottom: 3px;
	}

#prefs p {margin:0; line-height:20px;}

.prefsDivider {
	width:100%;
	height:1px;
	border-bottom:1px solid #04517a;
	font-size:.01em;
	line-height:.01em;
	margin-top:5px; margin-bottom:5px;
	letter-spacing:2px;
	}

#prefs .right {
	float:right; 
	margin-right:5px; 
	font-weight:bold; 
	font-size:10px;
	}

/* Footer Matter Starts Here */

#footerContainer {
	position:absolute;
	float:left;
	clear:both;
	bottom:0px;
	left:0px;
	width:100%;
	height:107px;
	}

.yahooWrapper {
	position:relative;
	border-top:1px solid #333; 
	border-bottom:1px solid #333; 
	}
	
.yahooGrayLine {
	font-size:.01em;
	line-height:.01em;
	width:100%;
	border-top:1px solid #999;
	}
		
#yahooSearch {
	padding-top:0px;
	margin:0px auto;
	height:32px;
	overflow:hidden;
	width:320px;
	text-align:center;
}
#yahooSearch table {height:32px; width:100%;}
#yahooSearch table td {vertical-align:middle;}
#yahooSearch input {margin:0;padding:0;}
#yahooLookup img {border:0px; width:76px; height:23px;}


#featureBar {
	width:330px;
	margin:0px auto;
	position:relative;
	}

#featureBarLasso {
	position:relative;
	height:23px;
	padding-top:3px;
	background-color:#04517a;
	border-top:1px solid #999;
	border-bottom:1px solid #333;
	}

#viewFeatures {
	background:transparent url(http://image.minyanville.com/images/view_features.gif) top left no-repeat;
	width:233px;
	height:18px;
	margin-top:1px;
	cursor:pointer;
	position:relative;
	float:left;
	margin-left: 6px;
}

#viewPopup {
	width:232px;
	height:140px;
	position:absolute;
	border: 1px solid #419ad0;
	border-bottom: 0px solid white;
	}

#viewPopup ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#viewPopup li {
	list-style-type:none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#viewPopup li a {
	font-size: 12px;
	line-height: 16px;
	height:16px;
	padding: 0 0 0 10px;
	margin: 0 0 0 0;
	width: 222px;
	display: block;
	color:#04517a;
	background-color:white;
	text-decoration:none;
	border-bottom:1px solid #419ad0;
	border-top: 1px solid white;
}
#viewPopup li a.offset {background-color:#cce4f2; border-top:1px solid #cce4f2;}
	
#viewPopup li a:hover, #viewPopup li a.offset:hover {
	background-color:cyan; 
	border-top:1px solid cyan;
	height:16px;
	line-height:16px;
}

#bottomLinks {
	position:relative;
	height:20px;
	/*padding-top:3px;*/
	background-color:#04517a;
	text-align:center;
	border-top:1px solid #999;
	border-bottom:1px solid #333;
	color:#ccc;
	}

#bottomLinks a, #bottomLinks a:visited {
	text-decoration:none;
	color:#ccc;
	font-size:11px;
	font-weight:bold;
	}

#footer {
	position:relative;
	font-size: 8px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	background-color:#04517a;
	color:#fff;
	width: 100%;
	height:17px;
	padding:5px 0 0 0;
	clear:both;
	}


/* BOOKMARK POPUP */
#headerBK {
	position: relative;
	background-color:#04517a;
	color:#fff;
	width: 100%;
	height:21px;
	font-weight: bold;
	font-size:12px;
	line-height:21px;
	margin-bottom:10px;
	}

#headerBK div.title {
	position:absolute;
	left:13px;
	top:0px;
	}

#headerBK div.posted {
	position:absolute;
	left: 50%; top:0px;
	}

#footerBK {
	position:absolute;
	bottom:0px;
	font-size: 8px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	background-color:#04517a;
	color:#fff;
	height:17px;
	padding:5px 0 0 0;
	margin: 0px auto;
	clear:both;
	width: 100%;
	}

.bookmark {
	height:350px;
	overflow:auto;
	}


/* Font Sizer Settings */
body.sizeSmall #articles, 
body.sizeSmall .article, 
body.sizeSmall .articleInfo, 
body.sizeSmall .article h2, 
body.sizeSmall #searchResults p,
body.sizeSmall #search,
body.sizeSmall .inlinePostAlert {font-size:10px;}

body.sizeMedium #articles, 
body.sizeMedium .article, 
body.sizeMedium .articleInfo, 
body.sizeMedium .article h2, 
body.sizeMedium #searchResults p,
body.sizeMedium #search,
body.sizeMedium .inlinePostAlert {font-size:12px;}

body.sizeLarge #articles, 
body.sizeLarge .article, 
body.sizeLarge .articleInfo, 
body.sizeLarge .article h2, 
body.sizeLarge #searchResults p,
body.sizeLarge #search,
body.sizeLarge .inlinePostAlert {font-size:14px;}

